*{
	margin: 0;
	padding: 0;
}

/*  Index File CSS  */

/*  Header Section CSS  */
.header{
	background-color: #121b2b;
	height: 200px;
	text-align: center;
}
.header h1{
	font-size: 48px;
	font-weight: 900;
	color: #ffffff;
	border: 5px solid #8f4c4c;
	text-align: center;
}

/*  Container Section CSS  */
.container{
	font-size: 16px;
	height: 400px;
	overflow: hidden;
	background-color: lightcyan;
}
.part{
	float: left;
}
.part-1{
	height: 400px;
	width: 40%;
}
.part-1 h2{
	font-size: 24px;
	padding: 8px;
}
.part-1 p{
	padding: 0 8px;
	font-size: 18px;
}
.part-2{
	width: 60%;
	float: right;
}
.img-box{
	height: 400px;
}
.img-box img{
	width: 100%;
}

/*  Wrapper Section CSS  */
.wrapper{
	height: 300px;
	overflow: hidden;
}
.wp{
	float: left;
	width: 33.33%;
	height: 100%;
}
.part-3{	
	background-color: #84d791;
}
.part-4{	
	background-color: #1abdbd;
}
.part-5{
	background-color: #8e5b8f;
}
.wp h3{
	font-size: 22px;
	padding: 3px 8px;
}
.wp p{
	font-size: 18px;
	padding: 0 8px;
}

/*  Footer Section CSS  */
.footer{
	background-color: #080914;
	height: 200px;
}
.footer h1{
	font-size: 48px;
	color: #ffffff;
	border: 5px solid #b3a6a6;
	text-align: center;
}
.f-link{
	font-size: 18px;
	text-align: center;
	margin-top: 75px;
}
.f-link a{
	color: #ffffff;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #ffffff;
}


/*  W3School File CSS  */
